<!DOCTYPE HTML>

<html>
	<head>
		<title>오늘 카페 어디가지?</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<noscript><link rel="stylesheet" href="assets/css/noscript.css" /></noscript>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
	</head>

	<style>
		.gu_button {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: center;
		}

		.button {
			margin-left: 10px;
		}

		.home_key{
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			margin: 0px 30px 0px 30px;
		}
		.home_key > p {
			font-size: larger;
			font-weight: bold;
		}
		.home_key > a {
			font-size: larger;
			font-weight: bold;
			color: black;
		}
		.carousel_name {
			color: black;
		}
		.cafe_info {
			color: black;
		}
		.cafe_info > h3 {
			margin-bottom: 15px;
		}

	</style>

	<script>

	</script>


	<body class="homepage is-preload">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header">

					<!-- Inner -->
					<div class="inner">
						<header>
							<h1><a href="index.html" id="logo">오늘 카페 어디가지?</a></h1>
							<hr/>
							<p>for seoul</p>
						</header>
						<div class="gu_button">
							<footer>
								<a href="#gangnam" class="button circled scrolly">강남구</a>
							</footer>
							<footer>
								<a href="#gangdong" class="button circled scrolly">강동구</a>
							</footer>
							<footer>
								<a href="#gangbuk" class="button circled scrolly">강북구</a>
							</footer>
							<footer>
								<a href="#gangseo" class="button circled scrolly">강서구</a>
							</footer>
							<footer>
								<a href="#gwanak" class="button circled scrolly">관악구</a>
							</footer>
							<footer>
								<a href="#gwangjin" class="button circled scrolly">광진구</a>
							</footer>
							<footer>
								<a href="#guro" class="button circled scrolly">구로구</a>
							</footer>
							<footer>
								<a href="#geumcheon" class="button circled scrolly">금천구</a>
							</footer>
							<footer>
								<a href="#nowon" class="button circled scrolly">노원구</a>
							</footer>
						</div>
						<div class="gu_button">
							<footer>
								<a href="#dobong" class="button circled scrolly">도봉구</a>
							</footer>
							<footer>
								<a href="#dongdaemun" class="button circled scrolly">동대문구</a>
							</footer>
							<footer>
								<a href="#dongjak" class="button circled scrolly">동작구</a>
							</footer>
							<footer>
								<a href="#mapo" class="button circled scrolly">마포구</a>
							</footer>
							<footer>
								<a href="#seodaemun" class="button circled scrolly">서대문구</a>
							</footer>
							<footer>
								<a href="#seocho" class="button circled scrolly">서초구</a>
							</footer>
							<footer>
								<a href="#seongdong" class="button circled scrolly">성동구</a>
							</footer>
							<footer>
								<a href="#seongbuk" class="button circled scrolly">성북구</a>
							</footer>
						</div>
						<div class="gu_button">
							<footer>
								<a href="#songpa" class="button circled scrolly">송파구</a>
							</footer>
							<footer>
								<a href="#yangcheon" class="button circled scrolly">양천구</a>
							</footer>
							<footer>
								<a href="#yeongdeungpo" class="button circled scrolly">영등포구</a>
							</footer>
							<footer>
								<a href="#yongsan" class="button circled scrolly">용산구</a>
							</footer>
							<footer>
								<a href="#eunpyeong" class="button circled scrolly">은평구</a>
							</footer>
							<footer>
								<a href="#jongno" class="button circled scrolly">종로구</a>
							</footer>
							<footer>
								<a href="#jung" class="button circled scrolly">중구</a>
							</footer>
							<footer>
								<a href="#jungnang" class="button circled scrolly">중랑구</a>
							</footer>
						</div>
						</div>


			<!-- Banner -->
				<section id="banner">
					<header>
						<h3><strong>Made by...</strong>  7기 12조</h3>
					</header>
				</section>

			<!-- Carousel -->
				<section id="gangnam" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 강남구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="gangdong" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 강동구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="gangbuk" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 강북구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="gangseo" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 강서구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="gwanak" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 관악구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="gwangjin" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 광진구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="guro" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 구로구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="geumcheon" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 금천구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="nowon" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 노원구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="dobong" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 도봉구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="dongdaemun" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 동대문구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="dongjak" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 동작구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="mapo" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 마포구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="seodaemun" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 서대문구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="seocho" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 서초구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="seongdong" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 성동구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="seongbuk" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 성북구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="songpa" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 송파구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="yangcheon" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 양천구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="yeongdeungpo" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 영등포구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="yongsan" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 용산구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="eunpyeong" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 은평구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="jongno" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 종로구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="jung" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 중구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>
				<section id="jungnang" class="carousel">
					<div class="home_key">
						<p class="carousel_name">☕ 중랑구 카페 목록</p>
						<a href="#logo">홈으로 🔼</a>
					</div>
					<div class="reel">

						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article><article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt="" /></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>
						<article>
							<a href="#" class="image featured"><img src="images/pic01.jpg" alt=""/></a>
							<header class="cafe_info">
								<h3><a href="#">카페명</a></h3>
								<h5>주소 : </h5>
								<h5>지번 : </h5>
								<h5>⭐ 4.6</h5>
							</header>
						</article>

					</div>
				</section>



		 Scripts
			<script src="assets/js/jquery.min.js"></script>
			<script src="assets/js/jquery.dropotron.min.js"></script>
			<script src="assets/js/jquery.scrolly.min.js"></script>
			<script src="assets/js/jquery.scrollex.min.js"></script>
			<script src="assets/js/browser.min.js"></script>
			<script src="assets/js/breakpoints.min.js"></script>
			<script src="assets/js/util.js"></script>
			<script src="assets/js/main.js"></script>

	</body>
</html>